@import "partials/setup";
@import "components/flashcard";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    color: #00269c;
}
body {
    background-color: #f4f2f8;
}

main {
    padding: 0px 0px 50px 0px;
}

h1 {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    margin-right: 200px;
    margin-top: 50px;
}

.learning {
    margin: 50px auto 20px;
    padding: 40px;
    border: 1.5px solid #6278ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cardNotes {
        width: 55%;
        margin-top: 30px;
        text-align: center;
        line-height: 1.6;
    }
}

.taskNotes {
    line-height: 1.6;
    color: #6278ff;
    text-align: center;
    margin-bottom: 30px;
    width: 55%;
    

}

h3 {
    font-size: 2.1rem;
    margin: 20px auto;
    // padding: 40px;
    // border: 1.5px solid  #6278ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

p {
    font-size: 1.6rem;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.subhead {
    margin-left: 600px;
    color: #6278ff;
    font-size: 1.8rem;
}

.question {
    font-weight: 500;
}

.wrapper {
    width: 1180px;
    max-width: 90%;
    margin: 0 auto;
}

.providedTasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.checkboxText {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-left: 10px;
}


input[type=checkbox] {
    margin-left: 10px;
}

li {
    list-style: none;
    text-align: center;
    p {
        // text-transform: uppercase;
        color: #2f42be
    }
}


button {
    border-style: none;
    background-color: #6278ff;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

button:hover,
button:focus {
    transform: scale(1.2);
}

footer {
    padding: 20px 0;
    text-align: center;
    p {
    font-size: 1.8rem;
    }
}


/* MEDIA QUERIES */

/* Portrait tablet and small desktops */

@media (max-width: 940px) {
    h1 {
        padding: 15px 5px 10px;
        font-size: 4rem;
    }

    .subhead {
        margin-left: 300px;
    }

    h3 {
        font-size: 1.8rem;
    }
    
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }
}
/* Portrait phones and down */

@media (max-width: 480px) {
    h1 {
        font-size: 2.6rem;
        margin: 0 auto;
    }

    .subhead {
        margin: 0 auto;
    }
}